<h1>{{title}}</h1>

<form id="question" method="post">

    <p>
    {{#each answers}}
        <div><input type="radio" name="answer" id="answer_{{@index}}" value="{{@index}}" /><label for="answer_{{@index}}">{{this}}</label></div>
    {{/each}}
    </p>
    <div>
        <button type="submit" name="submit">Submit</button>
    </div>
</form>

<script src="/js/cookies.js"></script>
<script>
  //let's only allow the person to submit the survey question once
  // We need to access the form element
  var form = document.getElementById("question");

  // to takeover its submit event.
  form.addEventListener("submit", function (event) {
    var urlPath = window.location.pathname.replace(/\/$/, "");

    if (docCookies.hasItem("completed", window.location.pathname)) {
        event.preventDefault();
        alert("already submitted an answer to this question!");
        window.location.replace(urlPath + "/chart");
    }
    else {
      docCookies.setItem("completed", "Form Answer", Infinity, urlPath); 
      alert('submit!');
    }
    
    //docCookies.removeItem("completed", urlPath);
  });
</script>